/**
 * @name Gruvbox Dark
 * @description Gruvbox Dark for Discord (new UI update)
 * @author shved
 * @version 0.0.1
*/

* {

	--yellow-dark:        #d79921;
	--yellow-light:       #fabd2f;
	--yellow-dark-custom: #bc861d;

	--red-dark:         #cc241d;
	--red-light:		#fb4934;

	--background:		#282828;
	--background-hard:	#1d2021;

	--background-soft:  #32302f;

	--background-1:     #3c3836;
	--background-2:     #504945;
	
	--accent:           var(--yellow-dark);
	--accent-hover:     var(--yellow-dark-custom);

	--voice-room-animation-color:  var(--accent);
	--voice-room-animation-dimmed: #51390c;

	--foreground-hard:  #fbf1c7;
	--foreground:       #ebdbb2;
	--foreground-1:     #d5c4a1;
	--foreground-2:     #bdae93;
	--foreground-3:     #a89984;

	--foreground-inverted: var(--background);
	--foreground-muted:    var(--foreground-3);

	--border: var(--background-2);

	--icon-color: var(--foreground-2);
	--icon-color-muted: var(--foreground-3);

	/* It is not primary actually */
	/* Friends > Active Now background */
	--background-primary: var(--background) !important; 

	/* Some buttons background (but not hover) | AKA sign */
	--background-secondary: var(--background-1) !important;
	--background-tertiary:  var(--background-2) !important;
	
	/* Self-explanatory */
	--background-message-hover: var(--background-soft) !important;

	/* Self-explanatory */
	--background-mentioned:       var(--background-1) !important;
	--background-mentioned-hover: var(--background-2) !important;

	/* Some (!) icons */
	--icon-primary:   var(--icon-color)       !important;
	--icon-secondary: var(--icon-color)       !important;
	--icon-muted:     var(--icon-color-muted) !important;

	/* Server > Members > Search */
	--input-background:       var(--background-soft) !important;
	--input-border:           var(--border)          !important;
	
	/* Friends > "Find or start conversation" */
	/* Man, this var naming logic is crazy */
	--input-placeholder-text: var(--foreground)      !important;

	--header-primary:   var(--foreground-hard)  !important;
	--header-secondary: var(--foreground)       !important;
	--header-muted:     var(--foreground-muted) !important;
 
	/* Most of the buttons | Active tab background */
	--button-secondary-background:        var(--accent)              !important;
	--button-secondary-background-active: var(--accent)              !important;
	--button-secondary-background-hover:  var(--accent-hover)        !important;
	--button-secondary-text:              var(--foreground-inverted) !important;

	--button-danger-background:        var(--red-light) !important;
	--button-danger-background-active: var(--red-light) !important;
	--button-danger-background-hover:  var(--red-dark)  !important;
	--button-filled-brand-border:      none             !important;

	--bg-brand: var(--accent) !important;

	/* New messages */
	--text-brand: var(--accent) !important;

}

/* call container bg */
[class^=callContainer],
[class^=callContainer] [class^=scroller_] {
  background-color: var(--background-hard);
}

/*
   When you are the only in the voice room,
   sometimes discord will suggest you to invite
   friends / start activity in the form of 
   user's modal window. This will change its background
*/
[class^=callContainer] [class^=root] {
  background-color: black !important
}

/* New room preview animation */
.gradientBackground__11664 {
	background: var(--background-hard) !important
}
.backgroundDark__11664 {
	background: var(--background-hard) !important
}
.foregroundRing__11664 {
	background: var(--voice-room-animation-dimmed) !important
}
.foregroundBase__11664 {
	background: var(--voice-room-animation-color) !important
}

/* Active call top gradient */
/* [class^=callContainer] [class^=gradientTop] { */
/*   background-image: linear-gradient( */
/*     rgba(146, 131, 116, 1), */
/*     rgba(146, 131, 116, 0.9) 10%, */
/*     rgba(146, 131, 116, 0.8) 20%, */
/*     rgba(146, 131, 116, 0.7) 30%, */
/*     rgba(146, 131, 116, 0.6) 40%, */
/*     rgba(146, 131, 116, 0.5) 50%, */
/*     rgba(146, 131, 116, 0.4) 60%, */
/*     rgba(146, 131, 116, 0.3) 70%, */
/*     rgba(146, 131, 116, 0.2) 80%, */
/*     rgba(146, 131, 116, 0.1) 90%, */
/*     rgba(146, 131, 116, 0.05) 95%, */
/*     rgba(146, 131, 116, 0.02) 98%, */
/*     transparent */
/*   ); */
/* } */
